body {
    font-family: Arima;
    margin: 0;
}

.centre-align {
    text-align: center;
}

#vertical-align {
    padding: 5%;
}

#top {
    background-image: url(images/Nepal-earthquake-2015-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-right: 105px solid mediumseagreen;
    border-left: 105px solid mediumseagreen;
    border-top: 35px solid mediumseagreen;
    border-bottom: 35px solid mediumseagreen;
}



#start-title {
    font-size: 50px;
    font-weight: 900;
    color: white;
}

#start-p {
    font-weight: 800;
    font-size: 18px;
    color: white;
}

.button {
    background-image: linear-gradient(forestgreen, mediumseagreen);
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 900;
    color: aliceblue;
    border-radius: 15px;
    text-decoration: none;
}


#amount-section {
    margin-top: 10%;
}

#amount-title {
    font-size: 30px;
    font-weight: 900;
}

.flex-contain {
    display: flex;
}

#amounts {
    margin-left: 20%;
}

.amount-number {
    padding: 15px 30px;
    margin: 30px;
    background-color: rgb(244, 238, 238);
    font-weight: 900;
}

#selected-amount {
    padding: 15px 30px;
    margin: 30px;
    font-weight: 900;
    background-color: lightgreen;
    color: darkgreen;
    border: 3px solid darkgreen;
    border-radius: 10px;
}

#custom-amount {
    margin-bottom: 10%;
}

#amount-input {
    border: none;
    background-color: transparent;
    font-size: 17px;
}

#hr-line {
    width: 40%;
    margin-bottom: 50px;
}

#food-donate img {
    width: 20%;

}

#food-donate {
    background-color: greenyellow;
    margin: 20px 30px;
    margin-left: 80px;
}

#medicine-donate img {
    width: 23%;
}

#medicine-donate {
    background-color: aqua;
    margin: 20px 30px;
}

#infrastructure-donate img {
    width: 17%;
}

#infrastructure-donate {
    background-color: blueviolet;
    margin: 20px 30px;
}

.thing-donate {
    padding: 20px 10px;
}

#donation-spent {
    margin-bottom: 10%;
}

#footer {
    background-color: gainsboro;
    padding: 1%;
}

.considerate {
    color: goldenrod;
}